body{
background-image:url();
	margin: 0%;
}
#nave{
    background-color: #fff;
}
.blog{
  margin: 0 30px;
}
.box26 {
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #000000;
    border-radius: 8px;
	background-color: #fff;
	margin: 40px auto;
    margin-top: 20px;
    background-color: #eae8e8f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
height: 215px;
padding-bottom: 100px;
margin-bottom: 40px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #ffffff;
    color: #000000;
    font-weight: bold;
	border: solid #000;
}
.box26 img{
	float: left;
}
.box26 p {
    margin: 0; 
    padding: 0;
}
.pege-top{
	height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#ffffff;
	border-radius: 50%;
	border: solid 2px #000;
	width: 60px;
	height: 60px;
	color: #000000;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}
.example { position: relative;
	background-color: rgba(255, 255, 255, 0.2);
}
.example p {
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
margin:0;
padding:0;
color: #ef4848;
font-weight: 800;
}
.example img {
width: 100%;
height: 50;
filter: blur(1px);
}
@media(min-width:751px){
  .example p{
  font-size: 500%;
  }
}
@media(max-width:750px){
  .example p{
  font-size: 30px;
  }
}
h1{
	text-align: center;
	text-decoration: none;
}
h1 a:hover{
color: #000;
}
.foot.back{
    margin: 40px auto;
    margin-top: 20px;
    background-color: #eae8e8f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    } 
	
   .box5 p{
    text-align: left;
    margin: 0;
        }
        a.box5{
        Text-decoration: none;
    color: #000;
        }
        .box5:hover{
    color: #000;
        }
        a.box5a{
        Text-decoration: none;
        font-size: 25px;
        color: #000;
    
        }
        .box5a:hover{
    color: #a4a4a4;
        }
    .box5:visited{
      color: #000;
    }
    .box5a:visited{
      color: #000;
    }
    
    .box5b{
      text-decoration: none;
      font-size: 10px;
      display: flex;
      justify-content: flex-end;
    }
    .box5b:visited{
    color: #878787;
    }
    .box5b{
      color: #878787;
    }
    h2{
      text-align: center;
    }
    .box2{
      background: #fff;
      box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
      width: 350px;
      margin: 20px auto;
      
      }
      .box2 img{
      width: 350px;
      }
      @media(min-width:751px){
        .box2{
          display: block;
          flex-direction: row-reverse;
        }
        .flex{
          display: flex;
        }
      }
      @media(max-width:750px){
       .box2{

       }
      }
      .Pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 100%;
        flex-grow:1;
        }
        .Pagination-Item-Link {
        
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        background: #fff;
        border: solid 2px #111;
        font-size: 14px;
        color: #111;
        font-weight: bold;
        transition: all 0.15s linear;
        }
        .Pagination-Item-Link-Icon {
        width: 20px;
        }
        .Pagination-Item-Link.isActive {
        background: #111;
        color: #fff;
        pointer-events: none;
        }
        .Pagination-Item-Link:not(.isActive):hover {
        background: #111;
        color: #fff;
        }
        .Pagination > * + * {
        margin-left: 8px;
        }
        .Pagination a {
          background-color: transparent;
          text-decoration: none;
          color: inherit
      }
      @media(min-width:751px){
        .Pagination-Item-Link{
          width: 45px;
        height: 45px;
        }
        }
        @media(max-width:750px){
         .Pagination-Item-Link{
        width: 30px;
        height: 30px;
         }
        }
        ul{
          list-style-type:none;
        }
