body{
  margin: 0;
  font-family: "Noto Sans JP", serif;
}
:root {
 
}
@media all and (min-width: 950px) {
  main{
    margin-top: 100px;
  }
}
/*========= ナビゲーションのためのCSS ===============*/
@media all and (max-width: 949px) {
#g-nav{
  position:fixed;
z-index: -1;
opacity: 0;
top:0;
width:100%;
  height: 100vh;/*ナビの高さ*/
  background-color: rgba(40, 39, 39, 0.74);
  /*動き*/
transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
opacity: 1;
z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #global-nav{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 0px;
}

#g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/

#g-nav{
list-style: none;
  text-align: center; 
}

#g-nav  a{
color: #ffffffd0;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;

}

#g-nav  a{
  display:inline-block;
  position:relative;
  cursor:pointer
}#g-nav  a::after{
  content:'';
  position:absolute;width:100%;
  transform:scaleX(0);
  height:2px;bottom:0;
  left:0;
  background-color:#f31212;
  transform-origin:bottom right;
  transition:transform .6s cubic-bezier(.86,0,.07,1)
}
  #g-nav  a:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left
}
            }
            ul{
              list-style-type: none;
            }
/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:15px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
    background-color: #fc1111;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #ffffff;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
@media all and (min-width: 950px) {
 #global-nav{
  display: flex;
  margin-top: 23px;
  padding: 0px;
  align-items: center;
 }
 #global-nav ul{
  display: flex;
 }
 #global-nav a{
  right: 0;
  margin-top: 0;
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  display:inline-block;
  position:relative;
  overflow:hidden;
  padding-bottom:2px;
  margin-bottom:-2px;
  cursor:pointer;
  color:#474e51;
  font-size: 20px;
 }
  #global-nav a::before{
    position:absolute;
    z-index:-1;
    content:'';
    left:0;
    bottom:0;
    width:100%;
    height:3px;
    background:#f31212;
    transition:transform .7s ease-in-out;
    transform:translateX(-101%)}
    #global-nav a:hover::before{ 
      transform:translateX(0)                       
    }
    .inquiry-menu-pc{
          background:#fc1111;
          border-radius: 10px;
          margin: 0 10px;
          width: 120px;
          list-style: none;
    }
    .inquiry-menu-pc a{
      text-align: center;
  }
.inquiry-menu-phone{
  display: none;
}
 .openbtn{
  display: none;
 }
 header{
  display: flex;    
  justify-content:space-between;
  z-index: 999;
  position: fixed;
  background: #ffffff;
  width: 100%;
  top:0;
 }
}
  @media(max-width:949px){
    header{
      display: flex;
 justify-content: space-between;
    }
    .inquiry-menu-phone{
          background:#fc1111;
          margin-right:58px;
          margin-top: 15px;
          width: 120px;
          list-style: none;
          height: 50px;
          font-size: 17px;
          text-align: center;
          text-decoration: none;
          border-right: solid 5px;

    }
    .inquiry-menu-phone a{
      text-align: center;
      display: block;
      text-decoration: none;
      margin: 0 auto;
      color: #000;
    }
    .inquiry-menu-pc{
      display: none;
    }
}
header{
  height: 100px;
}
.logo img{
  width: 100px;
  height: 100px;
}
/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
	transition: 0.8s ease-in-out;
	transform: translateY(30px);
	opacity: 0;
  }
  .scroll_up.on {
	transform: translateY(0);
	opacity: 1.0;
  }
  /*----------------------------
  scroll_left ｜左から出現
  ----------------------------*/
  .scroll_left {
	  -webkit-transition: 0.8s ease-in-out;
	  -moz-transition: 0.8s ease-in-out;
	  -o-transition: 0.8s ease-in-out;
	  transition: 0.8s ease-in-out;
	  transform: translateX(-30px);
	  opacity: 0;
	  filter: alpha(opacity=0);
	  -moz-opacity: 0;
  }
  .scroll_left.on {
	  opacity: 1.0;
	  filter: alpha(opacity=100);
	  -moz-opacity: 1.0;
	  transform: translateX(0);
  }
  
  /*----------------------------
  scroll_right ｜右から出現
  ----------------------------*/
  .scroll_right {
	  -webkit-transition: 0.8s ease-in-out;
	  -moz-transition: 0.8s ease-in-out;
	  -o-transition: 0.8s ease-in-out;
	  transition: 0.8s ease-in-out;
	  transform: translateX(30px);
	  opacity: 0;
	  filter: alpha(opacity=0);
	  -moz-opacity: 0;
  }
  .scroll_right.on {
	  opacity: 1.0;
	  filter: alpha(opacity=100);
	  -moz-opacity: 1.0;
	  transform: translateX(0);
  }


  /*フッター*/
  .footer {
    color: #000000;
    background: #fc1111;
    text-align: center;
    padding: 30px;
     }
     .footer a {
    color: #000000;
    text-decoration: none;
    transition: .3s;
     }
     .footer a:hover {
    text-decoration: none;
     }
     .footer a:hover {
      opacity: 0.5;
     }
     .footer .menu {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
     }

     .footer .menu li:last-child {
    border: none;
     }
     .footer .copyright {
    margin: 0;
    padding: 20px 0 0 0;
     }
    @media screen and (min-width:751px) {
        .footer .menu li {
          margin: 0;
          padding: 0 20px;
          border-right: 1px #808080 solid;
           }
    }
    @media screen and (max-width:750px){
      .footer .menu li {
        padding: 0 20px;
         }
    } 


/*pege top*/
 #page-top{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#ffffff;
	border-radius: 50%;
	border: solid 2px #000;
	width: 60px;
	height: 60px;
	color: #000000;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
	scroll-behavior: smooth;
}
.top{
	display: block;
    width: 15px;
    height: 15px;
    border-top: solid 3px #000000;
    border-right: solid 3px #000000;
    -webkit-transform: rotate(-45deg);
	transform: translateY(20%) rotate(-45deg);
}
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}
#page-top a:hover{
background-color: #828282;
}
/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}
html{
	scroll-behavior: smooth;
}