body{
	margin: 0%;
}
#nave{
    background-color: #fff;
}

h1{
  text-align: center;
}
@media(min-width:751px){
	.box{
    margin:0 auto ;
	text-align: center;
  }
  .box img{
	width: 300px;
  margin: 0 15px;
  }
}
@media(max-width:750px){
	.box{
	margin: 20px;
	text-align: center;
	width: 88%;

	}
	.box img{
		width: 160px;
	  margin: 0 auto;
	  }
}

.box p{
  text-align: center;
}
.pege-top{
	height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#ffffff;
	border-radius: 50%;
	border: solid 2px #000;
	width: 60px;
	height: 60px;
	color: #000000;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}
/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}
.example { position: relative;
	background-color: rgba(255, 255, 255, 0.2);
}
.example p {
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
margin:0;
padding:0;
color: #ef4848;
font-weight: 800;
}
.example img {
width: 100%;
height: 50;
filter: blur(1px);
}
@media(min-width:751px){
  .example p{
  font-size: 500%;
  }
}
@media(max-width:750px){
  .example p{
  font-size: 30px;
  }
}
h1{
	text-align: center;
	text-decoration: none;
}
h1 a:hover{
color: #000;
}
.foot.back{
    margin: 40px auto;
    margin-top: 20px;
    background-color: #eae8e8f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    } 
	
   /*全て共通：hideエリアをはじめは非表示*/
.hide-area{
	display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}
.modaal-close{
	left:15px ;
	}
 ul{
	list-style-type:none;
	padding: 0px;
}
@media(min-width:751px){
	.A{
		display: none;
	}
  }
  @media(max-width:750px){
	.B{
display: none;
	}
	
  }	
		.img1{
			display: flex;
			justify-content:center;
		}
		
		.img2{
			display: flex;
			margin: auto 0px;
			justify-content:center;

				}	
				
		.img3{
			display: flex;
			justify-content: center;
			
		}
		.gallery-list li:hover img{
			opacity: 0.5;
		}
		.gallery-list  img{
			transition: .3s;
		}
		@media(min-width:751px){
			.gallery-list img{
				width: 200px;
				margin: 0px 10px;
				
				}
				
		  }
		  @media(max-width:750px){
			.gallery-list img{
				margin: 0px 10px;
				
				}
			
		  }